@import './mixins';

.Game {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  height: 100%;

  header {
    flex-shrink: 0;
    height: 50px;
    background: #333;
    color: white;
    line-height: 50px;
    text-align: center;

    .title {
      @include title-text;

      display: inline-block;
      font-size: 30px;
    }

    .right {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;

      button {
        padding: 2px 10px;
        border: 0;
        border-radius: 3px;
        background: #999;
        color: #333;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;
      }
    }
  }

  .players {
    position: absolute;
    z-index: 100;
    top: 65px;
    right: 15px;
    width: 200px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: rgba(255 255 255 / 0.9);
    color: #333;

    li {
      display: flex;
      margin: 5px 0;
      list-style: none;

      .rank {
        width: 20px;
        margin-right: 5px;
        text-align: right;
      }

      .name {
        flex-grow: 1;
      }

      strong {
        float: right;
      }
    }
  }

  .inventory, .pickup {
    position: absolute;
    z-index: 100;
    right: 15px;
    bottom: 15px;
    width: 110px;
    padding: 15px;
    border: 5px solid #333;
    border-radius: 10px;
    background: white;

    img {
      display: block;
      width: 64px;
      height: 64px;
      margin: auto;
    }

    p {
      margin: 10px 0 0;

      &.name {
        font-size: 125%;
      }
    }
  }

  .inventory {
    left: 15px;
  }

  .pickup {
    right: 15px;
  }

  .grid-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: #333;
    color: white;

    p {
      span {
        margin: 0 10px;
      }
    }
  }
}
