@import 'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Figtree:wght@400;700&display=swap';

html, body, #root {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;

  strong {
    font-weight: 700;
  }
}
