<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='theme-color' content='#000000'>
    <link rel='shortcut icon' href='/favicon-32x32.png'>
    <title>Webpack-Node-TypeScript Boilerplate App</title>
  </head>
  <body>
    <header>
      <h1>Webpack-Node-TypeScript Boilerplate App</h1>
    </header>

    <main>
      <p id='message'></p>
    </main>
  </body>
</html>
