@import './mixins';

.Login {
  box-sizing: border-box;
  width: 450px;
  max-width: 100%;
  min-height: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background: #f4f4f4;
  line-height: 1.5rem;
  text-align: center;

  .pretitle {
    opacity: .2;
  }

  .title {
    @include title-text;

    font-size: 60px;
    line-height: 100px;

    @media only screen and (max-width: 500px) {
      font-size: 40px;
    }
  }

  a, input, button {
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
  }

  input {
    @include outline-input;

    text-align: center;

    &:invalid {
      border-color: $red;
    }
  }

  a, button {
    @include outline-button;

    &[disabled] {
      opacity: .5;
    }
  }

  button.play {
    padding: 5px 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0 1px 0 #333;
  }

  .discord {
    margin: 50px 0;

    .discord-user {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 20px;
      background: white;

      img {
        width: 30px;
        height: 30px;
        margin: 0 5px 0 10px;
        border-radius: 50%;
      }
    }
  }

  .colors {
    padding-bottom: 10px;

    button {
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 2px 0 1px #333;

      &.selected {
        box-shadow: 0 2px 0 4px #333;
      }
    }
  }
}
